<!-- views/index.html -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>METH Template</title>
    <script src="https://unpkg.com/htmx.org"></script>
    <link href="./output.css" rel="stylesheet" />
  </head>
  <body>
    <section
      class="w-screen bg-gradient-to-tr from-blue-700 via-gray-800 to-blue-700 h-screen"
    >
      <div class="flex justify-center h-full w-full items-center">
        <div class="border-2 rounded-xl border-black">
          <div class="py-10 lg:py-20 lg:px-40 px-10">
            <h1 class="text-7xl font-semibold">M.E.T.H Template</h1>
            <p>Mongo - Express - Typescript - HTMX</p>
          </div>
        </div>

      </div>
    </section>
  </body>
</html>
